<!DOCTYPE html>
<html>
  <head>
    <title>SearchAnalytics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <input type="text" id="search-box" placeholder="Search">
    <div id="analytics"></div>
    <%= javascript_include_tag 'search' %>
    <%# <script src="/assets/javascripts/search.js"></script> %>
  </body>
</html>
